.row {
  &.footerbar {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 17px;
    .full-row {
      .blocks-container {
        .footer-links-container {
          display: inline-block;
          .footer-links {
            width: 670px;
            thead {
              tr {
                td {
                  padding: 5px;
                  strong {
                    font-size: 19px;
                    a {
                      color: #192526;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
            tbody {
              tr {
                td {
                  padding: 5px;
                  a {
                    color: #192526;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
        .footer-info-container {
          display: inline-block;
          .footer-info {
            margin: 6px 0px 16px 0;
            width:200px;
            display:inline-block;
            tr {
              text-align: right;
              td {
                padding: 10px;
              }
            }
          }
          img {
            display:inline-block;
            width: 190px;
            height: 195px;
          }
        }
      }
    }
  }
}



.row {
  &.credits {
    padding-top: 20px;
    font-family: "Helvetica Neue", sans-serif;
    .full-row {
      .blocks-container {
        text-align:center;
        .align-center {
          font-size: 12px;
        }
      }
    }
  }
}
