$navtext: #748090;

.row {
  &.header {
    font-family: "Helvetica Neue", sans-serif;
    z-index: 1;
    margin-top: 26px;
    .full-row {
      .blocks-container {
        .site-logo-homepage {
          display:inline-block;
          width: 110px;
          height: 112px;
        }
        .mainmenu {
          display:inline-block;
          position: absolute;
          width: 90%;
          vertical-align: top;
          text-align:right;
          .menu {
            ul {
              margin:0;
              display: inline-block;
              li {
                list-style:none;
                display: inline-block;
                a {
                  color: $navtext;
                  font-size: 20px;
                  text-decoration: none;
                  padding: 0px 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
