// Laad hier fonts, kleuren en mixins. Geen stijling
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Overlock:400,400i,700,700i');

$special-font	: 	'Lora', serif;
$main-font		: 	'Open Sans', sans-serif;
$button-font	: 	'Overlock', cursive;

$goud			: 	#a08c72;
$goud_hover		: 	#7b664b;
$goud_p			:	#a08c72;
$grijs			: 	#6d6f71;
$lichtgrijs		: 	#ededed;
$zwart			: 	#000;

body {
    -webkit-font-smoothing: antialiased;
}

ul {
    -webkit-padding-start: 0px!important;
}

@mixin clear{

	&::after{

		content:'';
		display: block;
		clear: both;
	}
}

@mixin appearance {

	-moz-appearance:none;
	-o-appearance:none;
	-webkit-appearance:none;
	appearance:none;
}

@mixin selectable {

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;      
}

// Added 7/2/2018
// Updated 8/2/2018
// Updated 20/2/2018
@function calc-width-extraction( $items: 4, $gutter: 20 ) {
  
  @return ( ( ( $gutter * 2 ) * ( $items - 2 ) ) + ( $gutter * 2 ) ) / $items;
}

@mixin perfectloop( $items: 4, $gutter: 20, $element: 'article' ) {

    // If items are more than 0
    @if $items > 0 {

        // On child defined element
        > #{$element}{ 

            // The calculation
            $space_items: calc-width-extraction( $items, $gutter );
            $margin: ( $gutter * 1px );

            // Set width
            width: calc( #{100% / $items} - #{$space_items}px );

            // Set margins
            margin-right: $margin;
            margin-left: $margin;

            // Remove margin left
            &:nth-of-type(#{$items}n+1) {
                
                margin-right: $margin;
                margin-left: 0;
            }

            // Remove margin right
            &:nth-of-type(#{$items}n+#{$items}) {
                
                margin-left: $margin;
                margin-right: 0;
            }
            
            @if $items > 2 {
 
              @for $i from 2 through ( $items - 1 ){
  
              	&:nth-of-type(#{$items}n+#{$i}){
  
              		margin-right: $margin;
              		margin-left: $margin;
              	}
              }
            }
            
            @content;   
        }
    }
}

// Gebruik .class{ @include flexbox; }
@mixin flexbox {

	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

// Gebruik .class{ @include inline-flex; }
@mixin inline-flex {

	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

// Gebruik .class{ @include flex-direction( waarde ) }
// Mogelijke waardes: row | row-reverse | column | column-reverse
@mixin flex-direction($value: row) {

	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
		-moz-box-direction: reverse;
		-moz-box-orient: horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-moz-box-direction: normal;
		-moz-box-orient: vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
		-moz-box-direction: reverse;
		-moz-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-moz-box-direction: normal;
		-moz-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

// Gebruik .class{ @include flex-wrap( waarde ) }
// Mogelijke waardes: nowrap | wrap | wrap-reverse
@mixin flex-wrap($value: wrap) {

	-webkit-flex-wrap: $value;
	@if $value == nowrap {
		-ms-flex-wrap: none;
	} @else {
		-ms-flex-wrap: $value;
	}
	flex-wrap: $value;
}

// Gebruik .class{ @include flex-flow() }
// Mogelijke waardes: row nowrap
@mixin flex-flow($values: (row nowrap)) {

	-webkit-flex-flow: $values;
	-ms-flex-flow: $values;
	flex-flow: $values;
}

// Gebruik .class{ @include order( waarde ) }
// Mogelijke waardes: {integer}
@mixin order($int: 0) {

	-webkit-box-ordinal-group: $int + 1;
	-moz-box-ordinal-group: $int + 1;
	-webkit-order: $int;
	-ms-flex-order: $int;
	order: $int;
}


// Gebruik .class{ @include flex-grow( waarde) }
// Mogelijke waardes: {integer}
@mixin flex-grow($int: 1) {

	-webkit-box-flex: $int;
	-moz-box-flex: $int;
	-webkit-flex-grow: $int;
	-ms-flex: $int;
	flex-grow: $int;
}

// Gebruik .class{ @include flex-shrink( waarde ) }
// Mogelijke waardes: {integer}
@mixin flex-shrink($int: 0) {

	-webkit-flex-shrink: 1 $int;
	-moz-flex-shrink: 1 $int;
	-ms-flex: 1 $int;
	flex-shrink: 1 $int;
}

// Gebruik .class{ @include flex-basis( waarde ) }
// Mogelijke waardes: auto | { aantal in px}
@mixin flex-basis($value: auto) {

	-webkit-flex-basis: $value;
	flex-basis: $value;
}

// Gebruik .class{ @include justify-content( waarde ) }
// Mogelijke waardes: flex-start | flex-end | space-between | space-around
@mixin justify-content($value: flex-start) {

	@if $value == flex-start {
		-webkit-box-pack: start;
		-moz-box-pack: start;
	-ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-moz-box-pack: end;
		-ms-flex-pack: end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-font-box-pack: justify;
		-ms-flex-pack: justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;
	} @else {
		-webkit-box-pack: $value;
		-moz-box-pack: $value;
	-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	justify-content: $value;
}

// Gebruik .class{ @include align-items( waarde ) }
// Mogelijke waardes: flex-start | flex-end | center | baseline | stretch
@mixin align-items($value: stretch) {

	@if $value == flex-start {
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
	} @else if $value == flex-end {
		-webkit-box-align: end;
		-moz-box-align: end;
		-ms-flex-align: end;
	} @else {
		-webkit-box-align: $value;
		-mox-box-align: $value;
		-ms-flex-align: $value;
	}
	-webkit-align-items: $value;
	align-items: $value;
}

// Gebruik .class{ @include align-self( waarde ) }
// Mogelijke waardes: auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($value: auto) {

	-webkit-align-self: $value;
	@if $value == flex-start {
	-ms-flex-item-align: start;
	} @else if $value == flex-end {
	-ms-flex-item-align: end;
	} @else {
	-ms-flex-item-align: $value;
	}
	align-self: $value;
}

// Gebruik .class{ @include align-content( waarde ) }
// Mogelijke waardes: flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($value: stretch) {

	-webkit-align-content: $value;
	@if $value == flex-start {
		-ms-flex-line-pack: start;
	} @else if $value == flex-end {
		-ms-flex-line-pack: end;
	} @else {
		-ms-flex-line-pack: $value;
	}
	align-content: $value;
}

// Gebruik .class{ @include box-shadow( waarde ) } 
// Mogelijke waardes: 10px 10px 5px #888888;
@mixin box-shadow($arg) {

	-webkit-box-shadow:$arg;
	-moz-box-shadow:$arg;
	box-shadow:$arg;
}

// Gebruik .class{ @include transition( waarde ) }
// Mogelijke waardes: all 0.2s ease 0s;
@mixin transition($transition...) {

	-moz-transition: $transition;
	-o-transition: $transition;
	-ms-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

// generic transform
@mixin transform($transforms) {

	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin matchheight{

	@include flexbox;
	@include flex-wrap;
}