.ajax-load{

	position: absolute;
	height: 100%;
	width: 100%;
	left:0;
	right: 0;
	top: 0;
	bottom:0;
	background-color: rgba(255 , 255, 255, 0.34);
	z-index: 999;
	cursor: wait;
	padding:0;
	margin:0;
	border:none;
	background-image: url(/wp-admin/images/spinner-2x.gif);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: center;
}

