.slider-content-container{

	height:100%;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.vertical-center{
	
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

.horizontal-center{

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.slides li{

	height: 400px;
}

.slides li .full,
.slides li .full-row,
.slides li .full-container{

	max-width: 1080px;
	width:100%;
}

.flexslider{

	border:0;
	border-radius: 0;
	width:100%;
}

.flex-direction-nav a{

	width:auto;
}

.flex-control-thumbs{

	font-size: 0;
	margin:0;
}

.flex-control-thumbs img{

	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}

.fit-thumbnails .flex-control-thumbs{

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.fit-thumbnails .flex-control-thumbs li{

	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width:auto;
}